<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- ｱｸｾｽ -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
	</div>
	<p>
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	</p>
	<p>
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">住所<br />
		<!--{$smarty.const.SHOP_AREA}-->
		<hr size="1" color="#fafafa" />
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">営業時間(受付時間)<br />
		<!--{$smarty.const.SHOP_OPEN}-->&nbsp;受付:<!--{$smarty.const.SHOP_RECEPTION}-->
		<hr size="1" color="#fafafa" />
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">電話番号<br />
		TEL：<a href="tel:<!--{$smarty.const.SHOP_TEL}-->"><!--{$smarty.const.SHOP_TEL}--></a>
		<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font>1.ﾃｷｽﾄﾃｷｽﾄ</font><br />
	</p>
	<p align="center">
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/pic_access_01.png" alt="アクセス画像1">
	</p>
	<hr size="1" color="#fafafa" />
	<p>
		<font>2.ﾃｷｽﾄﾃｷｽﾄ</font><br />
	</p>
	<p align="center">
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/pic_access_02.png" alt="アクセス画像2">
	</p>
	<hr size="1" color="#fafafa" />
	<p>
		<font>3.ﾃｷｽﾄﾃｷｽﾄ</font><br />
	</p>
	<p align="center">
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/pic_access_03.png" alt="アクセス画像3">
	</p>
	<hr size="1" color="#fafafa" />
	<p>
		<font>4.ﾃｷｽﾄﾃｷｽﾄ</font><br />
	</p>
	<p align="center">
		<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/pic_access_04.png" alt="アクセス画像4">
	</p>
	<hr size="1" color="#fafafa" />
	<!-- //ｱｸｾｽ -->

<!--{/block}-->
