<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- クレジット決済 -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
	</div>
	<!-- 決済の流れ -->
	<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">決済の流れ</font>
	</div>
	<p>
		<font color="#ff007e">1.お客様のご利用は(店舗名:<!--{$smarty.const.SHOP_NAME}-->)です｡</font><br />
		※ご利用店舗をご確認ください。
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">2.当店(TEL:<a href="tel:<!--{$smarty.const.SHOP_TEL}-->"><!--{$smarty.const.SHOP_TEL}--></a>)にお電話頂き､ご予約及びご利用金額ご確認下さい｡</font><br />
		※必ずご予約を先にしてご利用金額をご確認下さい｡<br />
		※ｶｰﾄﾞ手数料はご利用額の15%になります｡<br />
		※お支払いは1回のみとなります｡<br />
		※ｻｰﾋﾞｽ開始後のｵﾌﾟｼｮﾝの追加､延長等は現金でお願いします｡
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">3.予約完了後､お客様ご自身でｸﾚｼﾞｯﾄ情報をご入力下さい｡</font><br />
		※必ずご本人様ｶｰﾄﾞで決済をお願い致します｡場合によっては身分証明書の提示が必要となります｡
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">4.有効期限が有効なVISA･MASTER･JCB･AMEXのﾏｰｸが付いたｸﾚｼﾞｯﾄｶｰﾄﾞであるかご確認下さい｡</font><br />
		※ｶｰﾄﾞの種類､有効期限をご確認下さい｡
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">5.必ず予約された電話番号をｶｰﾄﾞ決済時に入力して下さい｡</font><br />
		※ｶｰﾄﾞ決済時には電話番号が必要です｡
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">6.申込み完了後､■■■■■■■■■■■ にお電話して本人認証を行ってください｡</font><br />
		※本人認証が完了致しませんと､決済処理は完了されません｡
	</p>
	<!-- //決済の流れ -->

	<!-- 注意事項 -->
	<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">注意事項</font>
	</div>
	ｶｰﾄﾞ会社からの請求名は店舗名ではなく<font color="#ff007e">｢STAR-PAY｣</font>と表記されます｡<br />
	ｶｰﾄﾞ手数料はご利用額の15%になり､お支払い回数は一回のみとなります｡<br />
	決済通貨は安心安全の円建て決済となりますので､為替ﾘｽｸなどは一切ございません｡<br />
	STAR-PAYのﾈｯﾄで簡単決済ｼｽﾃﾑはお客様に直接ｶｰﾄﾞ情報をご入力頂きますので個人情報保護に繋がります｡<br />
	不正ｶｰﾄﾞ防止ｼｽﾃﾑが導入されている為､不正ｶｰﾄﾞ発覚時は警察に通報させて頂きます｡<br />
	海外発行ｶｰﾄﾞについてはご利用いただけません｡
	<!-- //注意事項 -->

	<p align="left">
	<a href="" >→ｸﾚｼﾞｯﾄ決算ﾍﾟｰｼﾞへ</a>
	</p>
	<!-- //クレジット決済 -->

<!--{/block}-->
