<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- ｸﾚｼﾞｯﾄ決済 -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--><br>404&nbsp;file&nbsp;not&nbsp;found!</font>
	</div>


	<!-- ｴﾗｰ -->
	<p>
	<string>お探しのﾍﾟｰｼﾞは見つかりません｡</string><br><br>
	いつも<!--{$smarty.const.SHOP_NAME}-->をご利用いただきありがとうございます｡<br><br>
	大変申し訳ございませんが､あなたがｱｸｾｽしようとしたﾍﾟｰｼﾞは削除されたかURLが間違っています｡<br><br>
	お手数お掛けしますがもう一度目的のﾍﾟｰｼﾞをお探し下さい｡

	</p>
	<p>
		<a href="<!--{$smarty.const.MB_URL}-->/top.php"><!--{$html.name.top}-->へ戻る</a>
	</p>
	<!-- //ｴﾗｰ -->



<!--{/block}-->
