<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

<!-- ﾎﾃﾙﾘｽﾄ -->
<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
</div>

<!-- 交通費 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">交通費</font>
</div>
交通費<br />
ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ&nbsp;<font color="#ff007e">無料</font><br />
ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ&nbsp;1,000円
<hr size="1" color="#fafafa" />
ﾎﾃﾙ&ﾚﾝﾀﾙﾙｰﾑ代<br />
ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
<hr size="1" color="#fafafa" />
その他<br />
ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
<hr size="1" color="#fafafa" />
<!-- //交通費 -->

<p align="left">
	<a href="hotel_business.php" >→ﾋﾞｼﾞﾈｽﾎﾃﾙ一覧ﾍﾟｰｼﾞへ</a>
</p>

<p align="left">
	<a href="hotel_adult.php" >→ﾗﾌﾞﾎﾃﾙ一覧ﾍﾟｰｼﾞへ</a>
</p>

<!-- ﾚﾝﾀﾙﾙｰﾑ -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">ﾚﾝﾀﾙﾙｰﾑ一覧</font>
</div>
<p>説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文</p>
<!-- 新橋 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">新橋</font>
</div>
<table align="center" style="width: 100%;">
<tr><td>ﾊﾝﾄﾞﾚｯﾄﾞ2</td><td><a href="tel:03-5402-4200">03-5402-4200</a></td><td>港区新橋4-20-8</td></tr>
<tr><td>ｺｽﾓｽⅢ</td><td><a href="tel:03-6809-2547">03-6809-2547</a></td><td>港区新橋3-11-2</td></tr>
<tr><td>ｺｽﾓｽ本店</td><td><a href="tel:03-3431-0699">03-3431-0699</a></td><td>港区新橋3-15-7</td></tr>
<tr><td>ｶｰﾑ</td><td><a href="tel:03-6721-5410">03-6721-5410</a></td><td>港区新橋3-15-7</td></tr>
<tr><td>COMFORT</td><td><a href="tel:03-6721-5410">03-6721-5410</a></td><td>港区新橋3-15-7</td></tr>
<tr><td>ｺｽﾓｽⅡ</td><td><a href="tel:03-3437-6557">03-3437-6557</a></td><td>港区新橋3-16-8</td></tr>
<tr><td>ｱﾝﾄﾞ</td><td><a href="tel:03-6402-7781">03-6402-7781</a></td><td>港区新橋3-21-9</td></tr>
<tr><td>ｱｯﾌﾟﾙ</td><td><a href="tel:03-6450-1069">03-6450-1069</a></td><td>港区新橋3-22-2</td></tr>
<tr><td>ｱｽﾄﾛ</td><td><a href="tel:03-6432-4091">03-6432-4091</a></td><td>港区新橋3-22-5</td></tr>
<tr><td>ｵｱｼｽ</td><td><a href="tel:03-3433-7177">03-3433-7177</a></td><td>港区新橋3-8-5</td></tr>
<tr><td>ﾚﾝﾀﾙﾙｰﾑｱﾌﾟﾚ</td><td><a href="tel:03-4582-6880">03-4582-6880</a></td><td>港区新橋4-14-8</td></tr>
<tr><td>ﾚｲﾝﾎﾞｰﾎﾃﾙ</td><td><a href="tel:03-3433-0006">03-3433-0006</a></td><td>港区新橋4-15-6</td></tr>
<tr><td>ｺｽﾓｽⅣ</td><td><a href="tel:03-6435-7199">03-6435-7199</a></td><td>港区新橋4-15-8</td></tr>
<tr><td>ﾌﾟﾚｼﾞｬｰ</td><td><a href="tel:03-6450-1431">03-6450-1431</a></td><td>港区新橋4-18-7</td></tr>
<tr><td>THE HOTEL SHINBASHI TOKYO</td><td><a href="tel:03-6721-5586">03-6721-5586</a></td><td>港区新橋4-20-1</td></tr>
<tr><td>新橋ﾚﾝﾀﾙﾙｰﾑO.K</td><td><a href="tel:03-3502-5368">03-3502-5368</a></td><td>港区西新橋1-18-11</td></tr>
</table>
<!-- //新橋 -->

<!-- 神田 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">神田</font>
</div>
<table align="center" style="width: 100%;">
	<tr><td>ｺｽﾓｽ</td><td><a href="tel:03-6206-8037">03-6206-8037</a></td><td>千代田区鍛冶町2-7-2</td></tr>
	<tr><td>ﾃｨｱﾗ</td><td><a href="tel:03-3525-4183">03-3525-4183</a></td><td>千代田区内神田3-6-13</td></tr>
	<tr><td>憩(いこい)</td><td><a href="tel:03-3252-5158">03-3252-5158</a></td><td>千代田区内神田3-9-8</td></tr>
	<tr><td>ﾄﾞﾘｰﾑｾﾌﾞﾝ</td><td><a href="tel:03-3255-4560">03-3255-4560</a></td><td>千代田区内神田3-8-10</td></tr>
	<tr><td>ﾌｧｰｽﾄ</td><td><a href="tel:03-3252-7220">03-3252-7220</a></td><td>千代田区内神田3-9-5</td></tr>
	<tr><td>ｴｺﾞﾝ</td><td><a href="tel:03-5298-2084">03-5298-2084</a></td><td>千代田区内神田3-4-5</td></tr>
</table>
<!-- //神田 -->

<!-- 秋葉原 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">秋葉原</font>
</div>
<table align="center" style="width: 100%;">
	<tr><td>ﾒﾛﾃﾞｨ</td><td><a href="tel:03-3527-1755">03-3527-1755</a></td><td>千代田区神田佐久間町1-25KTﾋﾞﾙ8F</td></tr>
	<tr><td>ﾎﾃﾙﾆｭｰﾀｳﾝ秋葉原</td><td><a href="tel:03-5835-1215">03-5835-1215</a></td><td>千代田区神田佐久間町2-12-8</td></tr>
</table>
<!-- //秋葉原 -->

<!-- 上野 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">上野</font>
</div>
<table align="center" style="width: 100%;">
	<tr><td>ﾚﾝﾀﾙﾙｰﾑy.y</td><td><a href="tel:03-5817-4747">03-5817-4747</a></td><td>台東区上野6-5-7</td></tr>
	<tr><td>ﾚﾝﾀﾙﾙｰﾑMK 上野本店</td><td><a href="tel:03-5816-6016">03-5816-6016</a></td><td>台東区上野6-8-7</td></tr>
	<tr><td>上野でなぜ悪い</td><td><a href="tel:03-5817-4555">03-5817-4555</a></td><td>台東区上野6-8-6</td></tr>
</table>
<!-- //上野 -->

<!-- 五反田 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">五反田</font>
</div>
<table align="center" style="width: 100%;">
	<tr><td>ﾚﾝﾀﾙﾙｰﾑ ｻﾝ</td><td><a href="tel:03-6411-0880">03-6411-0880</a></td><td>品川区西五反田1-32-4</td></tr>
	<tr><td>ﾚﾝﾀﾙﾙｰﾑ ﾌﾟﾁﾃﾙ</td><td><a href="tel:03-6431-9967">03-6431-9967</a></td><td>品川区西五反田1-32-4</td></tr>
	<tr><td>ﾚﾝﾀﾙﾙｰﾑ ﾀﾞｰﾂ</td><td><a href="tel:03-6450-3535">03-6450-3535</a></td><td>品川区東五反田2-2-14</td></tr>
	<tr><td>ﾎﾃﾙ ﾋﾟｰｽ</td><td><a href="tel:03-5436-2871">03-5436-2871</a></td><td>品川区西五反田2-5-2</td></tr>
</table>
<!-- //五反田 -->

<!-- 目黒 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">目黒</font>
</div>
<table align="center" style="width: 100%;">
	<tr><td>ﾚﾝﾀﾙﾙｰﾑ 一休 </td><td><a href="tel:03-6417-0130">03-6417-0130</a></td><td>品川区上大崎2-17-3</td></tr>
	<tr><td>ﾎﾃﾙ ｱﾗﾝﾄﾞ目黒</td><td><a href="tel:03-5496-2255">03-5496-2255</a></td><td>品川区上大崎2-18-23</td></tr>
	<tr><td>ﾎﾃﾙ ｼｬﾙﾑ目黒店</td><td><a href="tel:03-3491-4810">03-3491-4810</a></td><td>品川区上大崎2-18-24</td></tr>
</table>
<!-- //目黒 -->

<!-- 蒲田 -->
<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">蒲田</font>
</div>
<table align="center" style="width: 100%;">
	<tr><td>ﾀﾋﾁ</td><td><a href="tel:03-6424-9997">03-6424-9997</a></td><td>大田区蒲田5-20-1</td></tr>
	<tr><td>Memories</td><td><a href="tel:03-6424-8728">03-6424-8728</a></td><td>大田区蒲田5-20-1</td></tr>
	<tr><td>m2</td><td><a href="tel:03-6715-8808">03-6715-8808</a></td><td>大田区蒲田5-19-15</td></tr>
</table>
<!-- //蒲田 -->
<!-- //ﾚﾝﾀﾙﾙｰﾑ -->
<!-- //ﾎﾃﾙﾘｽﾄ -->

<!--{/block}-->
