<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- ご利用方法 -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
	</div>
	<p>
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	</p>
	<p>
		<font color="#ff007e">1.ﾃｷｽﾄﾃｷｽﾄ</font><br />
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">2.ﾃｷｽﾄﾃｷｽﾄ</font><br />
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">3.ﾃｷｽﾄﾃｷｽﾄ</font><br />
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	<hr size="1" color="#fafafa" />
	</p>
	<p>
		<font color="#ff007e">4.ﾃｷｽﾄﾃｷｽﾄ</font><br />
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	</p>
	<!-- //ご利用方法 -->

<!--{/block}-->
