<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- Q&A -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
	</div>
	<p>説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文</p>
	<p>
		1.QUESTION<br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ<br />
		<font color="#ff007e">1.ANSWER</font><br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
		<hr size="1" color="#fafafa">
		2.QUESTION<br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ<br />
		<font color="#ff007e">2.ANSWER</font><br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
		<hr size="1" color="#fafafa">
		3.QUESTION<br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ<br />
		<font color="#ff007e">3.ANSWER</font><br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
		<hr size="1" color="#fafafa">
		4.QUESTION<br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ<br />
		<font color="#ff007e">4.ANSWER</font><br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
		<hr size="1" color="#fafafa">
		5.QUESTION<br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ<br />
		<font color="#ff007e">5.ANSWER</font><br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
		<hr size="1" color="#fafafa">
		6.QUESTION<br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ<br />
		<font color="#ff007e">6.ANSWER</font><br />
		ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
	</p>
	<!-- //Q&A -->

<!--{/block}-->
