<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- 求人情報 -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
	</div>
	<p>
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文
	</p>
	<p>
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">職種<br>
	ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
	<hr size="1" color="#fafafa" />
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">資格<br>
	ﾃｷｽﾄﾃｷｽﾄﾃｷｽﾄ
	<hr size="1" color="#fafafa" />
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">勤務時間<br>
	<!--{$smarty.const.SHOP_OPEN}-->
	<hr size="1" color="#fafafa" />
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">勤務地<br>
	<!--{$smarty.const.SHOP_AREA}-->
	<hr size="1" color="#fafafa" />
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">給与<br>
	テキストテキストテキストテキストテキストテキスト
	<hr size="1" color="#fafafa" />
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">勤務内容<br>
	テキストテキストテキストテキストテキストテキスト
	<hr size="1" color="#fafafa" />
	<img src="<!--{$smarty.const.IMAGES_MB_URL}-->/icon_check.gif" alt="ﾁｪｯｸ">応募方法<br>
	電話にてお気軽にお問い合わせ下さい。<br>
	TEL:<a href="tel:<!--{$smarty.const.SHOP_TEL_RECRUIT}-->"><!--{$smarty.const.SHOP_TEL_RECRUIT}--></a><br>
	MAIL:<a href="mailto:<!--{$smarty.const.SHOP_MAIL_RECRUIT|escape:'hexentity'}-->"><!--{$smarty.const.SHOP_MAIL_RECRUIT|escape:"hexentity"}--></a><br>
	LINE ID:<!--{$smarty.const.SHOP_LINEID}--><br />
	テキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキストテキスト<br>
	ﾌｫｰﾑからのお問い合わせ&nbsp;<a href="entry.php">&rarr;応募ﾌｫｰﾑ</a>

	</p>
	<!-- //求人情報 -->

<!--{/block}-->
