<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

	<!-- 料金 -->
	<div align="center" style="background-color:#eeeeee; padding:5px; margin-bottom: 10px;">
	<font color="#111111"><!--{$page.name}--></font>
	</div>
	<!-- 料金表 -->
	<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#444444">料金表</font>
	</div>
	<p>
		<font color="#ff007e">ｺｰｽ名</font><br />
		説明文説明文説明文説明文説明文説明文<br />
		60分&nbsp;通常料金:8,000円<br />
		→&nbsp;<font color="#ffff00">割引料金:8,000円</font><br />
		90分&nbsp;通常料金:10,000円<br />
		→&nbsp;<font color="#ffff00">割引料金:9,000円</font>
		<p>説明文説明文説明文説明文説明文説明文説明文説明文説明文</p>
		<hr size="1" color="#fafafa" />

		<font color="#ff007e">ｺｰｽ名</font><br />
		説明文説明文説明文説明文説明文説明文<br />
		60分&nbsp;通常料金:8,000円<br />
		→&nbsp;<font color="#ffff00">割引料金:8,000円</font><br />
		90分&nbsp;通常料金:10,000円<br />
		→&nbsp;<font color="#ffff00">割引料金:9,000円</font>
		<p>説明文説明文説明文説明文説明文説明文説明文説明文説明文</p>
	</p>
	<!-- //料金表 -->

	<!-- ｵﾌﾟｼｮﾝ -->
	<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#111111">ｵﾌﾟｼｮﾝ</font>
	</div>
	<p>
		延長30分<br />
		→&nbsp;3,000円<br />
	</p>
	<!-- //ｵﾌﾟｼｮﾝ -->

	<!-- 注意事項 -->
	<div align="center" style="background-color:#e8be3d; padding:5px; margin-bottom: 10px;">
	<font color="#111111">注意事項</font>
	</div>
	<p>
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文。<br />
		説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文説明文<br />
		<font color="#ff007e">
		・説明文説明文説明文説明文説明文説明文説明文<br />
		・説明文説明文説明文説明文説明文<br />
		・説説明文説明文説明文明文説明文説明文説明文説明文<br />
		・説明文説明文説明文説明文説明文<br />
		・説明文説明文説明文説明文説明文<br />
		・説明文説明文説明文説明文説明文<br />
		・説明文説明文説明文説明文説明文<br />
		</font>
	</p>
	<!-- //注意事項 -->

	<!-- //料金 -->

<!--{/block}-->
