<!--{extends file="../common/frame.html"}-->
<!--{block name="page_title"}--><!--{$form.item.name[$params.pid]}-->一覧<!--{/block}-->
<!--{block name="main"}-->
<div class="content-panel">
    <p class="mb">
        <button class="btn btn-info" type="button" onclick="location.href='new.php?pid=<!--{$params.pid}-->&p=1'">新規登録
        </button>
        <button class="btn btn-info" type="button" onclick="location.href='sort.php?pid=<!--{$params.pid}-->&p=1'">
            並べ替え
        </button>
    </p>
    <!--{if $data|@count > 0}-->
    <section id="no-more-tables">
        <table class="table table-bordered table-condensed cf table-list">
            <tbody>
            <!--{foreach $data as $v}-->
            <tr
            <!--{if $v.show_flg == $smarty.const.SHOW_OFF}-->class="danger"<!--{/if}-->>
            <td>
                <!--{$v.name}-->
            </td>
            <td>
                <button class="btn btn-primary"
                        onclick="location.href='edit.php?pid=<!--{$params.pid}-->&id=<!--{$v.id}-->&p=<!--{$params.p}-->'">
                    <i class="fa fa-pencil fa-lg"></i></button>
                <button class="btn btn-danger"
                        onclick="delCheck('del.php?pid=<!--{$params.pid}-->&id=<!--{$v.id}-->&p=<!--{$params.p}-->')">
                    <i class="fa fa-trash-o fa-lg"></i></button>
            </td>
            </tr>
            <!--{/foreach}-->
            </tbody>
        </table>
        <div class="text-center"><!--{$pager->outputTag()}--></div>
    </section>
    <!--{else}-->
    <div class="alert alert-warning">データが登録されていません。</div>
    <!--{/if}-->
</div>
<!-- /content-panel -->
<!--{/block}-->
