<!--{extends file="../common/frame.html"}-->
<!--{block name="main"}-->
<section id="contents_contact">
	<!-- サブビジュアル -->
  <div class="subvisual">
      <p class="center">
        <img src="<!--{$smarty.const.IMAGES_URL}-->/mainvisual_center.png" alt="波紋">
      </p>
      <p class="left">
        <img src="<!--{$smarty.const.IMAGES_URL}-->/subvisual_left.png" alt="左バラ">
      </p>
      <p class="right">
        <img src="<!--{$smarty.const.IMAGES_URL}-->/subvisual_right.png" alt="右バラ">
      </p>
    <h2 class="contents_title">
      <p class="main"><!--{$page.name}--></p>
      <p class="sub"><!--{$html.name_kana.contact}--></p>
    </h2>
  </div>
  <!-- //サブビジュアル -->

  <div id="contents" class="inner">
  	<form method="post" action="?mode=finish">
    <table class="table03">
        <tr>
            <th width="30%">お名前&nbsp;<span class="atten_01">※</span></th>
            <td>
            	<!--{if $error.name != ''}--><span class="atten_01"><!--{$error.name}--></span><!--{else}--><!--{$posts.name}--><!--{/if}-->
            </td>
        </tr>
        <tr>
            <th width="20%">メールアドレス&nbsp;<span class="atten_01">※</span></th>
            <td>
            	<!--{if $error.mail1 != ''}--><span class="atten_01"><!--{$error.mail1}--></span><!--{else}--><!--{$posts.mail1}--><!--{/if}-->
            </td>
        </tr>
        <tr>
            <th width="20%">メールアドレス(確認)&nbsp;<span class="atten_01">※</span></th>
            <td>
            	<!--{if $error.mail2 != ''}--><span class="atten_01"><!--{$error.mail2}--></span><!--{else}--><!--{$posts.mail2}--><!--{/if}-->
            </td>
        </tr>
        <tr>
            <th width="20%">お問合せの種類&nbsp;<span class="atten_01">※</span></th>
            <td>
            	<!--{if $error.item != ''}--><span class="atten_01"><!--{$error.item}--></span><!--{else}--><!--{$posts.item}--><!--{/if}-->
            </td>
        </tr>
        <tr>
            <th width="20%">お問合せ内容(500文字以内)</th>
            <td>
            	<!--{if $error.detail != ''}--><span class="atten_01"><!--{$error.detail}--></span><!--{else}--><!--{$posts.detail|nl2br}--><!--{/if}-->
            </td>
        </tr>
    </table>

    <input type="hidden" name="name" value="<!--{$posts.name}-->">
  	<input type="hidden" name="mail1" value="<!--{$posts.mail1}-->">
  	<input type="hidden" name="mail2" value="<!--{$posts.mail2}-->">
  	<input type="hidden" name="item" value="<!--{$posts.item}-->">
  	<input type="hidden" name="detail" value="<!--{$posts.detail}-->">
  	<input type="hidden" name="<!--{$smarty.const.TOKEN_KEY}-->" value="<!--{$token}-->">

  	<!--{if $error == ''}-->
  	<input type="submit" name="send" value="送信" class="btn_form">
  	<!--{/if}-->
  	<input type="button" value="戻る" onclick="history.back();" class="btn_reset">

  	</form>
  </div>
</section>

<!--{/block}-->
