<!--{extends file="../common/frame.html"}-->
<!--{block name="page_title"}-->ヘッドラインニュース登録<!--{/block}-->
<!--{block name="main"}-->
<div class="form-panel">
    <form class="form-horizontal style-form" action="finish.php?p=<!--{$params.p}-->" method="post" onsubmit="return formCheck(this)">
        <input type="hidden" name="<!--{$smarty.const.TOKEN_KEY}-->" value="<!--{$token}-->">
        <input type="hidden" name="id" value="<!--{$params.id|default:''}-->">
        <div class="form-group">
            <label class="col-sm-2 control-label">表示設定</label>
            <div class="col-sm-10">
                <!--{html_radios name='show_flg' options=$form.show selected=$data.show_flg|default:$smarty.const.SHOW_ON}-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">色設定</label>
            <div class="col-sm-10">
                <!--{html_radios name='color_flg' options=$form.line.name selected=$data.color_flg|default:1}-->
            </div>
        </div>
        <div class="form-group">
            <label class="col-sm-2 control-label">内容
                <br/><span class="txt-sm">（50文字）</span></label>

            <div class="col-sm-10">
                <input type="text" name="name" class="form-control" value="<!--{$data.name|default:''}-->">
            </div>
        </div>
        <!--{if $params.id != ''}-->
        <div class="form-group">
            <label class="col-sm-2 control-label"></label>

            <div class="col-sm-10">
                <label><input type="checkbox" name="del" value="1"> <span
                        class="label label-danger">データを削除する</span></label>
            </div>
        </div>
        <!--{/if}-->
        <p class="mt text-center">
            <input type="submit" name="edit" class="btn btn-primary btn-smart" value="登録">
            <input type="button" name="back" class="btn btn-default btn-smart" value="戻る" onclick="history.back();">
        </p>
    </form>
</div>
<script src="<!--{$smarty.const.AD_URL}-->/js/check/line.js"></script>
<!-- /content-panel -->
<!--{/block}-->
