<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- コンセプト -->
        <section class="section_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_concept.png" alt="<!--{$page.name}-->" width="34"><!--{$page.name}--></h2>
            <div class="wrap">
                <p class="txt_box_01">
                    当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
                    JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。
                </p>
                <div class="txt_box_01 list_box_02">
                    <img src="<!--{$smarty.const.IMAGES_URL}-->/img_concept_01.png" width="100%" alt="">
                    <p>Feeling Hot Therapy<br>
                    当店では、セラピストは技術はもちろん、容姿・笑顔・癒しのおもてなし、そういった気持ちを大切にしております。<br>
                    お客様の深層部のリンパの流れを促すことにより、疲労回復やリフレッシュができます。<br>
                    スタッフは、技術指導によりFeeling Hot Therapyを習得した セラピストのみ、お客様に施術を行っています。<br>
                    ストレス社会から心身ともに開放されて、心からリフレッシュできるヒーリングタイムをデザインいたします。</p>
                </div>
                <!-- {*
                <dl class="txt_box_01 list_box_02">
                    <dt>1.  テキストテキストテキストテキスト</dt>
                    <dd>説明文説明文説明文説明文説明文説明文説明文説明文説明文</dd>
                    <dt>2.  テキストテキストテキストテキスト</dt>
                    <dd>説明文説明文説明文説明文説明文説明文説明文説明文説明文</dd>
                    <dt>3.  テキストテキストテキストテキスト</dt>
                    <dd>説明文説明文説明文説明文説明文説明文説明文説明文説明文</dd>
                    <dt>4.  テキストテキストテキストテキスト</dt>
                    <dd>説明文説明文説明文説明文説明文説明文説明文説明文説明文</dd>
                    <dt>5.  テキストテキストテキストテキスト</dt>
                    <dd>説明文説明文説明文説明文説明文説明文説明文説明文説明文</dd>
                    <dt>6.  テキストテキストテキストテキスト</dt>
                    <dd>説明文説明文説明文説明文説明文説明文説明文説明文説明文</dd>
                </dl>
                *} -->
            </div>
        </section>
        <!-- //コンセプト -->

<!--{/block}-->
