<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- カバーガール -->
        <section class="section_box covergirl_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_err.png" alt="エラー" width="34">エラー/404&nbsp;Page&nbsp;Not&nbsp;Found!</h2>
						<p class="subtitle">お探しのページは見つかりません。</p>
						<p class="mb_20">いつも<!--{$smarty.const.SHOP_NAME}-->をご利用いただきありがとうございます。<br>
						大変申し訳ございませんが、あなたがアクセスしようとしたページは削除されたかURLが間違っています。<br>
						お手数お掛けしますがもう一度目的のページをお探し下さい。</p>
						<p>
							<a class="btn_one_02" href="<!--{$smarty.const.SP_URL}-->/top.php">トップページへ戻る</a>
							</p>
						</p>

            
        </section>
        <!-- //カバーガール -->

<!--{/block}-->
