<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- ご利用方法 -->
        <section class="section_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_info.png" alt="<!--{$page.name}-->" width="34"><!--{$page.name}--></h2>
            <div class="wrap">
                <p class="txt_box_01">
                    当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
                    JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。
                </p>
                <dl class="txt_box_01 list_box_02">
                    <dt>1. まずはご予約をお願いします。</dt>
                    <dd>
                        まずはお電話、もしくはご予約フォームよりご予約ください。<br>
                        の際に、ご利用コース・ご指名・チェックイン予定のホテルorレンタルルームをお伝え下さい。
                    </dd>
                    <dt>2. お部屋番号のご確認をします。</dt>
                    <dd>
                        お部屋番号のご確認をお願いいたします。<br>
                        ご自宅でのサービスをご希望のお客様は、ご住所をお伝えください。
                    </dd>
                    <dt>3. ついに女の子が到着します！</dt>
                    <dd>
                        笑顔の素敵なとびっきりのエロ娘がお伺いいたします♡<br>
                        まずはそのまぶしさに癒されてください。
                    </dd>
                    <dt>4. お先にお支払いを！</dt>
                    <dd>
                        ご利用コース・コース料金・交通費などに間違いがないかをご確認の上、お支払いをお願いいたします。
                    </dd>
                    <dt>5. イチャイチャスタート！</dt>
                    <dd>
                        洋服の脱がせっこをしつつ、まずは混浴シャワーからスタートです。<br>
                        そのあとは…最後までたっぷりとお楽しみください♪
                    </dd>
                </dl>
            </div>
        </section>
        <!-- //ご利用方法 -->

<!--{/block}-->
