<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- メルマガ -->
        <section class="section_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_magazine.png" alt="<!--{$page.name}-->" width="34"><!--{$page.name}--></h2>
            <div class="wrap">
                <p class="txt_box_01">
                    登録無料で期間限定の割引情報や新人情報等、お得な情報を随時配信してます。<br>
                    登録をご希望の方は、「メルマガ登録」からメールを送信下さい。
                </p>

                <a href="mailto:<!--{$smarty.const.SHOP_MAIL_MAGA_REGIST}-->?subject=メルマガ登録&amp;body=このまま送信して下さい。" class="btn_one_02">メルマガ登録</a>
                <a href="mailto:<!--{$smarty.const.SHOP_MAIL_MAGA_CANCEL}-->?subject=メルマガ解除&amp;body=このまま送信して下さい。" class="btn_one_02">メルマガ解除</a>
            </div>
        </section>
        <!-- //メルマガ -->

<!--{/block}-->
