<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- 漫画 -->
        <section class="section_box manga_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_manga.png" alt="<!--{$page.name}-->" width="34"><!--{$page.name}--></h2>
                <div class="wrap">
                    <div class="flexslider">
                        <ul class="slides">
                            <li><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/img_manga_01.jpg"></li>
                            <li><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/img_manga_02.jpg"></li>
                            <li><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/img_manga_03.jpg"></li>
                        </ul>
                    </div>
                </div>
        </section>
        <!-- //漫画 -->

<!--{/block}-->
