<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- プレイ内容 -->
        <section class="section_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_info.png" alt="<!--{$page.name}-->" width="34"><!--{$page.name}--></h2>
            <div class="wrap">
                <p class="txt_box_01">
                    当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
                    JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。
                </p>
                <dl class="txt_box_01 list_box_02">
                    <dt>1. セラピストからのカウンセリング</dt>
                    <dd><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/pic_play_01.jpg" alt="プレイ画像1" class="width_100"></dd>
                    <dd>
                        まずはセラピストよりカウンセリングを行います。<br>
                        お体でお疲れの場所やお悩みなどをお伺いいたします。「前立腺をマッサージして欲しい」、「卑猥な言葉を投げかけて欲しい」など、ご要望がございましたら遠慮なくセラピストへお申し付け下さい。
                    </dd>
                    <dt>2. 混浴シャワー</dt>
                    <dd><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/pic_play_02.jpg" alt="プレイ画像2" class="width_100"></dd>
                    <dd>
                        そのあとは、シャワールームでお体を流していきます。<br>
                        セラピストとシャワーを浴びることでお体を綺麗にし、肌と肌との触れ合いを楽しみながら愛の関係を築いていきます。一瞬で緊張を解きほぐし、セラピストと恋人のような関係へ。
                    </dd>
                    <dt>3. オイルマッサージ</dt>
                    <dd><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/pic_play_03.jpg" alt="プレイ画像3" class="width_100"></dd>
                    <dd>
                        全身指圧で疲れを癒しながら、オイルマッサージにより深いリラクゼーションへと導きます。<br>
                        優しい手触りと絶妙なスピードにより、そのまま眠ってしまうかもしれません。マッサージの後半には性感帯へ攻めの手が忍び寄り、リラックス状態から再び気分が高揚します。
                    </dd>
                    <dt>4. 回春マッサージ</dt>
                    <dd><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/pic_play_04.jpg" alt="プレイ画像4" class="width_100"></dd>
                    <dd>
                        当店は射精へ至るまでのプロセスを重要視しています。<br>
                        睾丸を優しく入念に解きほぐし、更にはアナルに集中する男性機能向上のツボをマッサージいたします。<br>
                        ご希望の部位のマッサージも施しますので、その際はお申し付けください。<br>
                        回春マッサージにより、春を取り戻したような硬く隆々と勃起する男性自身に自信を深めて頂けるものと思います。
                    </dd>
                    <dt>4. フィニッシュ</dt>
                    <dd><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/pic_play_04.jpg" alt="プレイ画像4" class="width_100"></dd>
                    <dd>
                        当店はもちろんヘルスサービスも重視しております。<br>
                        集中メンテナンスにより逞しく勃起した男性自身にセラピストも興奮しているはず！<br>
                        当店ではフェラ、６９、素股などのサービスは無料となっておりますので、しっかりとお楽しみ下さい。<br>
                        ＊本番行為はお断りしておりますので、予めご了承下さい。
                    </dd>
                </dl>
            </div>
        </section>
        <!-- //プレイ内容 -->

<!--{/block}-->
