<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- ご利用方法 -->
        <section class="section_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_qa.png" alt="<!--{$page.name}-->" width="34"><!--{$page.name}--></h2>
            <div class="wrap">
                <p class="txt_box_01">
                    当店は『あなたを癒す心からの施述』がコンセプトの、完全予約制プライベートサロンです。<br>
                    JR五反田駅西口より徒歩4分のオフィスストリートにて、厳選されたセラピストによる心からのおもてなしと至福のひとときをご提供いたします。
                </p>
                <dl class="txt_box_01 list_box_02">
                    <dt>
                        <span class="fs_10">1.QUESTION</span><br>どんな女の子がいますか？
                    </dt>
                    <dd>
                        <span class="atten_01 fs_10">1.ANSWER</span><br>当店では最も輝きを放つ、20代の女性を厳選して待機させております。<br>自らＨなことがしたくてたまらない！これがイマドキ世代なのです！発情期真っ盛りの彼女達とイッちゃって心ゆくまで楽しんで下さい♪
                    </dd>
                    <dt>
                        <span class="fs_10">2.QUESTION</span><br>プレイ内容について教えて下さい
                    </dt>
                    <dd>
                        <span class="atten_01 fs_10">2.ANSWER</span><br>当店はいわゆるデリヘルになります。<br>
                        ファッションヘルスで行われるような、オールヌードによる混浴シャワー、全身リップなどなど素晴らしいヘルスサービスがオプション料金無料でお楽しみいただけます。さらに刺激をお求めの紳士の方々は、追加でコスプレやオモチャを使ったド変態ごっこなどもお楽しみいただけます。
                    </dd>
                    <dt>
                        <span class="fs_10">3.QUESTION</span><br>セラピストのリクエストはできますか？
                    </dt>
                    <dd>
                        <span class="atten_01 fs_10">3.ANSWER</span><br>もちろんです、おまかせください。お客様の気持ちになって、間違いなくご満足いただけるセラピストを送り込みます。<br>
                        色白の子、背の高い子…などなど、お気軽にご要望をお申し付け下さい。
                    </dd>
                    <dt>
                        <span class="fs_10">4.QUESTION</span><br>予約したいときはどうしたらいいですか？
                    </dt>
                    <dd>
                        <span class="atten_01 fs_10">4.ANSWER</span><br>まずはお気軽にお電話を下さい。当店は女の子が多数在籍しておりますので素早い派遣が可能です。<br>
                        迅速にご案内するために、ご利用の1時間程度前〜のご予約がをお願いいたします。<br>
                        ただし、人気のある女の子は当日の後予約が大変むずかしいです。
                    </dd>
                    <dt>
                        <span class="fs_10">5.QUESTION</span><br>どこまで出張してくれますか？
                    </dt>
                    <dd>
                        <span class="atten_01 fs_10">5.ANSWER</span><br>当店は東京エリアを中心に、立川、錦糸町、千歳、墨田、文化、立花、両国、菊川、曳舟、押上などへ出張を行っています。<br>
                        可能な限り出張いたしますので、まずはお気軽にご相談下さい。<br>
                        ※交通状況や女の子の在籍状況により出張できない場合もございますので、その点はご了承下さい。
                    </dd>
                </dl>
            </div>
        </section>
        <!-- //ご利用方法 -->

<!--{/block}-->
