<!--{extends file="./common/frame.html"}-->
<!--{block name="main"}-->

        <!-- 新着情報 -->
        <section class="section_box topics_box">
            <h2><img src="<!--{$smarty.const.IMAGES_SP_URL}-->/icon_topics.png" alt="" width="34"><!--{$page.name}--></h2>
                <div class="wrap">
                        <!--{foreach $topics as $v}-->
                        <article>
                            <h3 class="subtitle"><!--{$v.title}--></h3>
                            <time datetime="<!--{$v.published|date_format:'%Y-%m-%d'}-->" class="atten_01 fs_10"><!--{$v.published|date_format:'%Y-%m-%d %H:%M'}--></time>
                            <p><!--{$v.detail}--></p>
                        </article>
                        <!--{/foreach}-->

                        <!--{if $page_info.prev.url != ''}-->
                        <a href="<!--{$page_info.prev.url}-->" class="btn_one_02">
                            ◀&nbsp;BACK
                        </a>
                        <!--{/if}-->
                        <!--{if $page_info.next.url != ''}-->
                        <a href="<!--{$page_info.next.url}-->" class="btn_one_02">
                            NEXT&nbsp;▶
                        </a>
                        <!--{/if}-->
                </div>
        </section>
        <!-- //新着情報 -->

<!--{/block}-->
